table {
    width: 700px;
    border-bottom: hsl(174.65deg 41.56% 52.35%) solid;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}
table thead td {
    font-weight: bolder;
    color: white;
    background-color: #404040;
    padding: 10px;
}
tbody td {
    background-color: #eee;
    height: 75px;
}
.View {
    border: rgb(3 169 244) solid 3px;
    background-color: rgb(3 169 244);
    color: #fff;
    cursor: pointer;
}
.Delete {
    border: rgb(233 30 99) solid 3px;
    background-color: rgb(233 30 99);
    color: #fff;
    cursor: pointer;
}
.upove { 
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #fff solid 2px;
}