.parent{
    width: 600px;
    height: 300px;
    display: flex;
    background-color: #eee;
    justify-self: center;
    flex-flow: column wrap;
    justify-content: space-between;
}
.parent div{
    display: flex;
    background-color: rgb(12, 173, 179);
    color: white;
    height: calc(90% / 3);
    width: calc(100% /15);
    justify-content: center;
    align-items: center;
}
.parent .two{
    width: 300px;
}
.parent .one,
.parent .three{
    align-self: flex-end;
}