.parent{
    background-color: #eee;
    width: 600px;
    height: 300px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}
.parent div{
    display: flex;
    width: calc(100% / 6);
    height: calc(100% / 2);
    color: white;
    justify-content: center;
    align-items: center;
}
.parent .one{
    background-color: #ff9800;
    order: 2;
}
.parent .two{
    background-color: #8bc34a;
    align-self: flex-end;
    order: 3;
}
.parent .three{
        background-color: #795548;
    order: 4;
}
.parent .four{
    background-color: #673ab7;
    align-self: flex-end;
    order: 1;
}