div {
    text-transform: capitalize;
    font-family: 'Open Sans';
}

.first {
    font-weight: 300;
    font-style: italic;
}
.second {
    font-family: cairo;
    font-weight: 700;
}
.third {
    font-family: Jomhuria;
    font-weight: 400;
}