.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto;
  gap: 15px 15px;
  justify-self: center;
}
.grid div{
    display: grid;
    counter-increment: elem;
    justify-content: center;
    align-items: center;
}
div{
    background-color: #607d8b;
}
.grid div::before{
    content: "element " counter(elem);
    text-transform: capitalize;
    font-family: sans-serif;
    color: #fff;
}