.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 350px 30px;
}
.grid div{
    background-color: #e91e63;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}